body {
    background-color: #ffffff; /* White background */
    font-family: "Plus Jakarta Sans"; /* Use Plus Jakarta Sans font */
    color: #71DA9E; /* Green text color */
    text-align: left;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container1 {
    background-color: #ffffff; /* White container background */
    border: 2px solid #71DA9E; /* Green border */
    padding: 20px;
    max-width: 600px;
    
    text-align: center;
}

h1 {
    color: #71DA9E; /* Green heading color */
    font-family: "Plus Jakarta Sans"; /* Use Plus Jakarta Sans font for headings */
}

#image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Start at the bottom middle */
    height: 21vh; /* Adjust the height for the image container */
}

#scaling-image {
    width: 80%; /* Increase image size */
    height: auto;
    transform-origin: center bottom; /* Start from the bottom middle */
    transition: transform 1s;
    display: block;
    margin: 0 auto;
    transform: scale(0); /* Start with no scale */
}

#controls {
    margin: 20px 0;
}

.jakarta_sans-font {
    font-family: "Plus Jakarta Sans"; /* Use Plus Jakarta Sans font for labels and buttons */
}

input[type="number"],
button {
    background-color: #71DA9E; /* Green background color */
    color: #ffffff; /* White text color */
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Plus Jakarta Sans"; /* Use Plus Jakarta Sans font for input and buttons */
}

button {
    font-weight: normal;
}

button:hover {
    background-color: #71DA9E; /* Darker green on hover */
}

#countdown1 {
    color: #71DA9E; /* Green text color */
    font-weight: bold;
    font-size: 1000;
}
